<html ng-app="contactsApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Collection-Repeat: Early Preview</title>

    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/ionic.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <script src="lib/angular.js"></script>
    <script src="lib/angular-animate.js"></script>
    <script src="lib/angular-sanitize.js"></script>
    <script src="lib/angular-ui-router.js"></script>
    <script src="lib/ionic.js"></script>
    <script src="lib/ionic-angular.js"></script>
    <script src="app.js"></script>

</head>

<body ng-controller="MainCtrl as vm">
<ion-header-bar class="bar-royal">
    <h1 class="title">{{vm.total}} Contacts</h1>

    <div class="buttons">
        <button class="button button-icon ion-chevron-up" ng-click="vm.scrollTop()"></button>
        <button class="button button-icon ion-chevron-down" ng-click="vm.scrollBottom()"></button>
    </div>
</ion-header-bar>
<ion-content>
    <ion-list>
        <ion-item class="item item-avatar"
                  collection-repeat="contact in vm.contacts"
                  collection-item-width="'100%'"
                  collection-item-height="'70px'"
                  ng-style="{height: '70px'}">
            <img ng-src="{{contact.picture.thumbnail}}">

            <h2>{{contact.name.first}} {{contact.name.last}}</h2>

            <p>{{contact.email}}</p>
            <span class="badge badge-dark">{{$index}}</span>
        </ion-item>
    </ion-list>
</ion-content>
</body>
</html>
